:root{
    --dark-navy: #020c1b;
    --navy: #0a192f;
    --light-navy: #112240;
    --lightest-navy: #233554;
    --navy-shadow: rgba(2, 12, 27, 0.7);
    --dark-slate: #495670;
    --slate: #8892b0;
    --light-slate: #a8b2d1;
    --lightest-slate: #ccd6f6;
    --white: #e6f1ff;
    --green : #64ffda;
    --green-tint: rgba(100, 255, 218, 0.1);
    --pink: #f57dff;
    --blue: #57cbff;
    --border-raduis: 4px;
    --box-shadow: 4px 4px 0 0 var(--green); 
    --fz-sm: 15px;
    --fz-base: 18px;
    --font-sans: 'Calibre', 'Inter', 'San Francisco', 'SF Pro Text', -apple-system, system-ui, sans-serif;
    --font-mono: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
}


/*  ----------------------------------- 
            Hero Section
    ---------------------------------
*/

.container {    
    position: absolute;
    margin-top: 20px;
    top: 55px;
    width: 100%;
    padding-top: 20px;
    background-color: #0a192fdd;
    z-index: 3;
    /* overflow: hidden; */
}





/*  ----------------------------------------
        Hero section
    ----------------------------------------
*/
.div-hero-section-about_me {
    padding: 0;
    margin-top: -40px;
}

.hero-section_about_me{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-left: 150px;
    padding-right: 150px;
}

.text-intro-hero-section { 
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: auto;
    background-color: transparent;
}

.title-about-me{
    background-color: transparent;
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 20px;
}

.title-about-me .horizontal-bar {
    background-color: transparent;
    width: 35%;
    border-top: 1px solid var(--lightest-navy);
    margin-top: 27px;
}

.title-about-me h1{
    color: var(--lightest-slate);
    font-size: 35px;
    background-color: transparent;
}

.text-intro-hero-section .text-about-me {
    background-color: transparent;
    color: var(--light-slate);
    font-size: 18px;
}

.text-intro-hero-section .link-about-me {
    width: 30%;
}

/* 
    Section Langages et techno maitrisees
*/

.div-langagges-techno{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.div-langagges-techno h1 {
    color: var(--lightest-slate);
    font-size: 30px;
    text-align: center;
    background-color: transparent;
    margin-top: 20px;
    margin-bottom: 30px;
}
.langages-techno{
    background-color: transparent;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 20px;
}

/*
    Card
*/
.card{
    background-color: var(--light-navy);
    color: var(--lightest-slate);
    padding: 30px;
    display: flex;
    flex-direction: column;
    border-radius: var(--border-raduis);
    justify-content: space-around;
    gap: 18px;
}
.card:hover, .card:active {
    transform: translateY(-10px);
    transition: 0.5s;
}

.card:hover.card h3{
    color: var(--green);
}

.card img{
    background-color: transparent;
    width: 45px;
    height: 45px;
    object-fit: cover;
    background-color: transparent;
}
.card h3{
    background-color: transparent;
    font-weight: bold;
}
.card p{
    background-color: transparent;
    font-size: 14px;
    line-height: 22px;
}
.card .card-div1{
    display: flex;
    flex-direction: column;
    gap: 12px;
    background-color: transparent;
} 
.card-div2{
    display: flex;
    flex-direction: row;
    gap: 8px;
    background-color: transparent;
    width: 100%;
}
.text-level{
    margin-top: 9px;
    background-color: transparent;
}
.level{
    border: .5px solid var(--lightest-slate);
    width: 100%;
    padding: 3px;
    border-radius: 8px;
    background-color: transparent;
    margin-top: 12px;
    height: 10px;
}
.level p{
    background-color: var(--lightest-slate);
    height: 3px;
    border-radius: 8px;
}


/* 
    -----------------------------------
                Media Queries
    -----------------------------------
*/

@media screen and (max-width: 920px) {
    .langages-techno{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 768px) {

    .hero-section_about_me{
        padding-top: 50px;
        padding-left: 40px;
        padding-right: 40px;
    }

    .langages-techno {
        margin-bottom: 90px;
    }

    .title-about-me {
        margin-top: -50px;

    }
}

@media screen and (max-width: 460px) {
    .langages-techno{
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 90px;
    }
    .title-about-me .horizontal-bar {
        display: none;
    }
    
}